{
  "plugins": [
    [
      "search-and-replace",
      {
        "rules": [
          {
            "search": "XMLHttpRequest()",
            "replace": "XMLHttpRequest({ mozSystem: true })"
          }
        ]
      }
    ]
  ]
}
