.ircmsg {
  padding-top: 2px;
  padding-bottom: 2px;
  height: auto;
  width: 100%;
}

.ircmsg > p {
  font-size: 14px !important;
}

.ircmsg--focused {
  padding-top: 2px;
  padding-bottom: 2px;
  height: auto;
  width: 100%;
  font-size: 15px !important;
  background-color: black;
  color: white;
}

.ircmsg--focused > p {
  font-size: 15px !important;
}
