.chattextinput {
  display: flex;
  justify-content: center;
  flex-direction: center;
  background-color: #2196f3;
}

.chattextinput > input {
  width: 96%;
  font-size: 15px;
}

.chattextinput--focused {
  display: flex;
  justify-content: center;
  flex-direction: center;
  background-color: #1b5e20;
}

.chattextinput--focused > input {
  width: 96%;
  font-size: 15px;
}
