.chattextinput {
  display: flex;
  justify-content: center;
  flex-direction: center;
  background-color: var(--color-blue);
}

.chattextinput > input {
  width: 100%;
  font-size: 15px;
  margin: 2px;
  border-radius: 4px;
}

.chattextinput--focused {
  display: flex;
  justify-content: center;
  flex-direction: center;
  background-color: var(--color-carrotorange);
}

.chattextinput--focused > input {
  width: 100%;
  font-size: 15px;
  margin: 2px;
  border-radius: 4px;
}
