.event {
  padding-top: 2px;
  padding-bottom: 2px;
  height: auto;
  width: 100%;
}

.event--focused {
  padding-top: 2px;
  padding-bottom: 2px;
  height: auto;
  width: 100%;
  background-color: black;
  color: white;
}

.event > p {
  font-size: 12px !important;
}

.event--focused > p {
  font-size: 12px !important;
}
