.unsupportedevent {
  padding-top: 2px;
  padding-bottom: 2px;
  height: auto;
  width: 100%;
}

.unsupportedevent--focused {
  padding-top: 2px;
  padding-bottom: 2px;
  height: auto;
  width: 100%;
  background-color: black;
  color: white;
}

.unsupportedevent > p {
  font-size: 12px !important;
}

.unsupportedevent--focused > p {
  font-size: 12px !important;
}
